.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.point {
	opacity: 0.5;
	border-radius: 10000px;
	position:absolute;
	float:left;
	background-color: yellow;
	display:inline-block
}